<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - moja aplikacja platformy ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @if (HttpContext.Current.User.IsInRole("Admin"))
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("News", "Index", "News", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Create accounts", "create", "Account")</li>
                        <li>@Html.ActionLink("Manage subjects", "Index", "Subjects")</li>
                        <li>@Html.ActionLink("Manage classes", "Create", "Classes")</li>
                        <li>@Html.ActionLink("Assign teachers", "chooseTeacher", "Classes")</li>
                        <li>@Html.ActionLink("Assign students", "AssignStudents", "Classes")</li>
                        <li>@Html.ActionLink("Teachers", "Teachers", "Account")</li>
                        <li>@Html.ActionLink("Students", "Students", "Account")</li>
                        <li>@Html.ActionLink("Parents", "Parents", "Account")</li>
                        <li>@Html.ActionLink("Classes", "Index", "Classes")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>

    }
    else if (HttpContext.Current.User.IsInRole("Teacher"))
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("News", "Index", "News", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Your News", "yourNews", "News")</li>
                        <li>@Html.ActionLink("Your Classes", "yourClasses", "SubjectClassTeachers")</li>
                        <li>@Html.ActionLink("Messages", "MessageBox", "Messages")</li>
                        <li>@Html.ActionLink("My Profile", "MyProfile", "Account")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    }
    else if (HttpContext.Current.User.IsInRole("Student"))
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("News", "Index", "News", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Grades", "MyGrades", "Grades")</li>
                        <li>@Html.ActionLink("Lessons", "getSubjects", "Subjects")</li>
                        <li>@Html.ActionLink("My Profile", "MyProfile", "Account")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    }
    else if (HttpContext.Current.User.IsInRole("Parent"))
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("News", "Index", "News", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Grades", "ChildGrades", "Grades")</li>
                        <li>@Html.ActionLink("Messages", "MessageBox", "Messages")</li>
                        <li>@Html.ActionLink("My Profile", "MyProfile", "Account")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("News", "Index", "News", new { area = "" }, new { @class = "navbar-brand" })
                </div>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Moja aplikacja ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("css", required: false)

</body>
</html>
