@model IEnumerable<GradebookV2.Models.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>News</h2>
@foreach (GradebookV2.Models.News news in Model)
 {
    <p style="float:right">@news.Date</p>
    <h4 style="text-align:center">@news.Title</h4>
    <p>@news.Content</p>
    <p style="float:right">Author: @news.Author.Name @news.Author.Surname</p>
    <br />
    <hr />
 }
