@model List<Tuple<GradebookV2.Models.ApplicationUser, List<GradebookV2.Models.Grade>>>
@{
    ViewBag.Title = "getGrades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Grades</h2>

<table class="table">
    <tr>
        <th>
            @Html.LabelFor(m => m[0].Item1.Name)
        </th>
        <th>
            @Html.LabelFor(m => m[0].Item2[0].Value)
        </th>
    </tr>
    @foreach (Tuple<GradebookV2.Models.ApplicationUser, List<GradebookV2.Models.Grade>> t in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => t.Item1.Name) @Html.DisplayFor(m => t.Item1.Surname)
            </td>
            <td>
                @foreach (GradebookV2.Models.Grade g in t.Item2)
                {
                    <div class="grade" value="@g.Date,@g.Type,@g.Comment,@g.Value" style="cursor:pointer">@g.Value</div>
                }
            </td>
            <td>
                <button class="btnShowModal" type="button" data-content="@t.Item1.Id">Add</button>
            </td>
        </tr>
    }
</table>

<div id="modalGrade" class="modal fade" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">Add new grade</h4>
            </div>
            @using (Html.BeginForm("addGrade", "SubjectClassTeachers", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
        <div class="modal-body">
            @Html.AntiForgeryToken()
            @Html.Hidden("studentId", null, new { id = "studentIdHidden" })
            @Html.Hidden("subjectId", new { ViewBag.subjectId })
            <div class="form-group">
                @Html.LabelFor(model => model[0].Item2[0].Value, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control" name="value">
                        <option value="1">1</option>
                        <option value="1.75">2-</option>
                        <option value="2">2</option>
                        <option value="2.5">2+</option>
                        <option value="2.75">3-</option>
                        <option value="3">3</option>
                        <option value="3.5">3+</option>
                        <option value="3.75">4-</option>
                        <option selected="selected" value="4">4</option>
                        <option value="4.5">4+</option>
                        <option value="4.75">5-</option>
                        <option value="5">5</option>
                        <option value="5.5">5+</option>
                        <option value="5.75">6-</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model[0].Item2[0].Type, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("type", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model[0].Item2[0].Type, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model[0].Item2[0].Comment, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("comment", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model[0].Item2[0].Comment, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <br />
        </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Add"/>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@Html.Partial("_GradePartial")

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $(".btnShowModal").click(function () {
                $("#modalGrade").modal('show');
                $("#studentIdHidden").val(this.dataset.content);
            });

            $(".grade").click(function (event) {
                var val = $(event.target).attr("value");
                var data = val.split(',');
                $("#gradeComment").text(data[2]);
                $("#gradeType").text(data[1]);
                $("#date").text(data[0]);
                $("#value").text(data[3]);
                $('#modal').modal('show');
                console.log(data);
            });

            $(".grade").mouseenter(function () {
                $(this).css('font-weight', 'bold');
            });

            $(".grade").mouseout(function () {
                $(this).css('font-weight', 'normal');
            });
        });
    </script>
}

