@model  List<Tuple<GradebookV2.Models.ApplicationUser, string>>
@{
    ViewBag.Title = "createdUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Created Users</h2>

@if (Model[0].Item1.Roles.First().RoleId == "2")
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("User Name")
            </th>
            <th>
                @Html.DisplayName("Password")
            </th>
        </tr>
        @foreach (Tuple<GradebookV2.Models.ApplicationUser, string> t in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => t.Item1.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => t.Item2)
                </td>
            </tr>
        }
    </table>
}
else
{
    <table class="table">
        <colgroup span="2"></colgroup>
        <colgroup span="2"></colgroup>
        <tr>
            <td rowspan="2"></td>
            <th colspan="2" scope="colgroup">Parents</th>
            <th colspan="2" scope="colgroup">Students</th>
        </tr>
        <tr>
            <th scope="col">
                @Html.DisplayName("User Name")
            </th>
            <th scope="col">
                @Html.DisplayName("Password")
            </th>
            <th scope="col">
                @Html.DisplayName("User Name")
            </th>
            <th scope="col">
                @Html.DisplayName("Password")
            </th>
        </tr>
        @for (int i = 0; i < Model.Count(); i += 2)
        {
            <tr>
                <th scope="row"></th>
                <td>
                    @Html.DisplayFor(model => model[i].Item1.UserName)
                </td>
                <td>
                    @Html.DisplayFor(model => model[i].Item2)
                </td>
                <td>
                    @Html.DisplayFor(model => model[i + 1].Item1.UserName)
                </td>
                <td>
                    @Html.DisplayFor(model => model[i + 1].Item2)
                </td>
            </tr>
        }
    </table>
}