@using GradebookV2.Models
@{
    ViewBag.Title = "AddStudents";
    Layout = "~/Views/Shared/_Layout.cshtml";  
}
@model ApplicationUser
<h2>AddStudents</h2>


<div>
    <label>Class: </label>
    <select id="classId" onchange="change()">

        @foreach (GradebookV2.Models.Class c in ViewBag.Classes)
        {
            <option value="@c.ClassId">@(c.Grade + " " + c.Name)</option>

        }
    </select>
    @Html.Hidden("selected", 0);
</div>

@using (Html.BeginForm("AddStudents", "Classes", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Class</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{int counter = 1;}
                @foreach (ApplicationUser s in ViewBag.Students)
                {
                    <tr>
                        <th scope="col">@counter</th>
                        <th scope="col">@s.Name</th>
                        <th scope="col">@s.Surname</th>
                        <th scope="col">
                            @if (s.Class == null)
                            {
                                @Html.Display("Unassigned")
                            }
                            else
                            {
                                @s.Class.Grade
                                @s.Class.Name
                            }
                        </th>
                        <th scope="col" id="actionlink">

                            @Html.ActionLink("Assign", "AssignStudents", new { classId = 0, studentId = s.Id})
                        </th>
                        @{counter++;}
                    </tr>
                }
            </tbody>

        </table>
    </div>
}

@section scripts {
    <script>
        function change() {
            var ph = $("#classId option:selected").val();
            $("#selected").val(ph);
            alert($("#selected").val());
        }

    </script>
    
    }